/* line 14, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 25, ../../css/style.sass */
body {
  background: #f9f9f9;
  color: #2a2a2a;
  line-height: 18px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* line 32, ../../css/style.sass */
div.container {
  display: block;
  width: 700px;
  margin: 0 auto;
}

/* line 37, ../../css/style.sass */
#header {
  margin: 1em auto;
  text-align: center;
}

/* line 41, ../../css/style.sass */
#menu {
  width: 100%;
  margin: 1em 0;
  border-bottom: 1px solid #bbbbbb;
  text-align: center;
}
/* line 46, ../../css/style.sass */
#menu ul {
  list-style: none;
  display: inline;
}
/* line 11, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 49, ../../css/style.sass */
#menu ul li {
  display: inline;
  margin-right: 15px;
  text-align: center;
}
/* line 53, ../../css/style.sass */
#menu ul li a {
  font-size: 20px;
  font-weight: 700;
  color: #489848;
  text-decoration: none;
}

/* line 59, ../../css/style.sass */
#contents.sidebar {
  float: right;
  width: 150px;
}
/* line 62, ../../css/style.sass */
#contents.sidebar ul {
  margin-bottom: 0.2em;
}

/* line 65, ../../css/style.sass */
p.topic-title {
  display: none;
}

/* line 68, ../../css/style.sass */
div.section {
  margin-right: 170px;
}

/* line 71, ../../css/style.sass */
div.section div.section {
  margin-right: 0;
}

/* line 74, ../../css/style.sass */
div.section ul {
  margin-left: 15px;
  list-style: none;
}
/* line 11, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
div.section ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 78, ../../css/style.sass */
h1, h2, h3, h4 {
  color: #489848;
}

/* line 81, ../../css/style.sass */
h1 {
  margin-top: 10px;
  font-size: 26px;
}

/* line 85, ../../css/style.sass */
h2 {
  border-bottom: 5px solid #cccccc;
  margin-bottom: 13px;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: 700;
}

/* line 92, ../../css/style.sass */
h3 {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 13px;
  font-weight: 700;
}

/* line 97, ../../css/style.sass */
a {
  color: #569633;
  text-decoration: none;
}

/* line 101, ../../css/style.sass */
p {
  margin-bottom: 1em;
  font-size: 1em;
}

/* line 105, ../../css/style.sass */
ol {
  list-style: decimal;
  margin-left: 2em;
  margin-bottom: 13px;
}

/* line 110, ../../css/style.sass */
ul {
  list-style: disc;
  margin-left: 2em;
  margin-bottom: 13px;
}

/* line 115, ../../css/style.sass */
pre, tt {
  font-family: "andale mono", "lucida console", monospace;
  font-size: 12px;
  background: #ffffdd;
}

/* line 120, ../../css/style.sass */
pre {
  white-space: pre;
  margin: 3px 3px 2em 3px;
  padding: 8px 20px;
}

/* line 125, ../../css/style.sass */
.note {
  border-top: 1px solid #489848;
  border-bottom: 1px solid #489848;
  padding: 0.6em 0.6em 0.6em 80px;
  margin-bottom: 2em;
  position: relative;
}
/* line 131, ../../css/style.sass */
.note p.admonition-title:before {
  content: "!";
  font-size: 60px;
  font-weight: bold;
  color: #489848;
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: helvetica, arial;
}
/* line 140, ../../css/style.sass */
.note p.admonition-title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}
/* line 145, ../../css/style.sass */
.note p.last {
  padding: 0;
  margin: 0;
}

/* line 149, ../../css/style.sass */
#footer {
  border-top: 1px solid #cccccc;
  clear: both;
  display: block;
  width: 100%;
  margin-top: 3em;
  padding-top: 1em;
  text-align: center;
  font-size: 0.8em;
}
/* line 158, ../../css/style.sass */
#footer a {
  color: #444444;
}
