body {
    background: #f9f9f9;
    color: #2a2a2a;
    font-family: arial;
    font-size: 1em;
}

div.container {
    display: block;
    width: 40em;
    margin: 0 auto;
}

a {
    color: #569633;
}

p {
    font-size: 1em;
}

ul {
    padding-left: 1em;
}

dd {
    border-bottom: 1px solid #eee;
    margin: 0 0 .5em;
    padding: 0 0 .5em;
}

pre {
    font-family: 'andale mono', 'lucida console', monospace;
    font: 100% monospace;
    *font-size:75%

    white-space:pre;
    background: #ffd;
    margin: 3px 3px 2em 3px;
    padding: 8px 20px;
}

h1.title {
    color: #fff;
    background: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0 1px #7a8500;
    background: #489848;
    font-size: 1.7em;
    border: none;
    padding: 0.3em;
}

h1 {
    font-size: 1.3em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    color: #000;
}

h2 {
    font-size: 1.1em;
    margin: 2em 0 0 0;
    color: #000;
    padding: 0;
}

div.document {
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0 0 0.1em 0;
}

#green-unicorn p {
    font-size: 1.2em;
    color: #444;
    padding: 1px 0px;
}

#footer {
    border-top: 1px solid #ccc;
    clear: both;
    display: block;
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    text-align: center;
    font-size: 0.8em;
}

#footer a {
    color: #444;
}

#bottom {
    text-align: center;
    font-size: 14px;
    background: #fda;
    padding: 10px 30px;
}

.info,.fork {
    padding: 10px;
}

.content {
    font-size: 1.2em;
}

#header {
    border-bottom: 1px solid #ccc;
    display: block;
}

#header:after,#header:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

#links {
    color: #4E4E4E;
    padding: 25px 0 0;
}

#links a {
    font-weight: 700;
    text-decoration: none;
}

#header #links {
    text-align: right;
    font-size: .8em;
    margin-top: 0.5em;
    position: relative;
    top: 0;
    right: 0;
}

h1.logo {
    border: none;
    margin: 0;
    float: left;
}

h1.logo a {
    text-decoration: none;
    display: block;
    height: 70px;
    width: 290px;
    padding: 0 0 30px;
    background: url(../images/logo.png) no-repeat top left;
    border: none;
    text-indent: -9999px
}

.section p {
    font-size: 1em;
    margin: 0 0 20px;
    padding: 0;
}

#menu {
    width: 100%;
    clear: both;
    margin: auto;
    font-size: 1em;
    padding: 1.5em 0;
}

ul#actions {
    list-style: none;
    display: block;
    width: 100%;
    text-indent: 0;
    margin: 0 auto;
    padding: 0 0.2em 0 0.3em;
}

ul#actions li {
    display: block;
    float: left;
    background: #4E4E4E;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 .3em 0 0;
    padding: .2em;
}

ul#actions li a {
    font-style: bold;
    font-size: 1em;
    text-transform: capitalize;
    color: #ddd;
    text-decoration: none;
    padding: 0 0.6em;
}

ul#actions li a:hover {
    color: #fff;
}

#faq dt {
    font-size: 1.1em;
    margin: 2em 0 0 0;
    color: #000;
    padding: 0;
    font-weight: 700;
}

#faq dd {
    margin: 0;
    padding: 0;
}

#the-configuration-file dt {
    font-weight: 700;
}

.note {
    padding:.6em .6em .6em 80px;
    border:1px solid #489848;
    background:#FFFFDD;
    margin-bottom:3.5em;
    /*font-size:.95em;*/
    position:relative;
}

.note p.admonition-title:before {
    content:"!";
    font-size:60px;
    font-weight:bold;
    color:#489848;
    font-family:helvetica,arial;
    position:absolute;
    left:30px;
}

.note p.admonition-title {
    font-weight:700;
    padding:0;
    margin:0 0 4px 0;
}

.note p.last {
    padding:0;
    margin:0;
}
