/* line 17, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../../css/style.sass */
#container.twocolumn {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 17, ../../css/style.sass */
#container.twocolumn #header, #container.twocolumn #menu, #container.twocolumn #footer, #container.twocolumn #toc, #container.twocolumn #content {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 19, ../../css/style.sass */
#container.twocolumn #header, #container.twocolumn #menu, #container.twocolumn #footer {
  width: 940px;
}
/* line 21, ../../css/style.sass */
#container.twocolumn #toc {
  width: 300px;
}
/* line 23, ../../css/style.sass */
#container.twocolumn #content {
  width: 620px;
}

/* line 4, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* line 6, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
a:focus {
  outline: 1px dotted invert;
}

/* line 8, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 14, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h1 {
  font-size: 25px;
}

/* line 16, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h2 {
  font-size: 23px;
}

/* line 18, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h3 {
  font-size: 21px;
}

/* line 20, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h4 {
  font-size: 19px;
}

/* line 22, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h5 {
  font-size: 17px;
}

/* line 24, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h6 {
  font-size: 15px;
}

/* line 26, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
ol {
  list-style: decimal;
}

/* line 28, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
ul {
  list-style: square;
}

/* line 30, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
li {
  margin-left: 30px;
}

/* line 32, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

/* line 30, ../../css/style.sass */
body {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 33, ../../css/style.sass */
a, a:visited, a:hover, a:active {
  color: #569633;
  text-decoration: none;
}

/* line 39, ../../css/style.sass */
#menu {
  margin-bottom: 23px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #959595;
  text-align: right;
}
/* line 44, ../../css/style.sass */
#menu div.logo {
  float: left;
  margin-left: 10px;
  padding-top: 3px;
}
/* line 48, ../../css/style.sass */
#menu ul {
  display: inline;
  margin-right: 10px;
  list-style: none;
}
/* line 11, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
#menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 52, ../../css/style.sass */
#menu ul li {
  display: inline;
  padding: 0px 3px;
}
/* line 55, ../../css/style.sass */
#menu ul li a {
  font-size: 17px;
  color: white;
}

/* line 59, ../../css/style.sass */
div.document {
  border-right: 1px solid #959595;
  padding-right: 15px;
}

/* line 64, ../../css/style.sass */
#toc ul ul {
  list-style: disc;
}
/* line 66, ../../css/style.sass */
#toc ul ul ul {
  list-style: circle;
}

/* line 69, ../../css/style.sass */
p.topic-title {
  display: none;
}

/* line 72, ../../css/style.sass */
pre, tt, code {
  font-family: "Andale Mono", "Lucida Console", monospace;
  font-size: 12px;
}

/* line 76, ../../css/style.sass */
pre {
  white-space: pre;
  background-color: black;
  color: lime;
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
}

/* line 84, ../../css/style.sass */
.note {
  border-top: 1px solid #569633;
  border-bottom: 1px solid #569633;
  padding: 0.6em 0.6em 0.6em 80px;
  margin-bottom: 2em;
  position: relative;
}
/* line 90, ../../css/style.sass */
.note p.admonition-title:before {
  content: "!";
  font-size: 60px;
  font-weight: bold;
  color: red;
  position: absolute;
  left: 30px;
  font-family: helvetica, arial;
}
/* line 98, ../../css/style.sass */
.note p.admonition-title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}
/* line 103, ../../css/style.sass */
.note p.last {
  padding: 0;
  margin: 0;
}

/* line 107, ../../css/style.sass */
#footer {
  border-top: 1px solid #959595;
  padding: 10px 0px;
  text-align: center;
  color: #959595;
}
/* line 112, ../../css/style.sass */
#footer p {
  margin-bottom: 5px;
}

/* line 115, ../../css/style.sass */
strong {
  font-weight: bold;
}
