[MASTER]

ignore=
    build,
    docs,
    examples,
    scripts,
    _compat.py,
    _gaiohttp.py,

[MESSAGES CONTROL]

disable=
    attribute-defined-outside-init,
    bad-mcs-classmethod-argument,
    bare-except,
    broad-except,
    duplicate-code,
    superfluous-parens,
    fixme,
    import-error,
    import-outside-toplevel,
    import-self,
    inconsistent-return-statements,
    invalid-name,
    missing-docstring,
    no-else-return,
    no-member,
    no-self-argument,
    no-staticmethod-decorator,
    not-callable,
    protected-access,
    raise-missing-from,
    redefined-outer-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-statements,
    wrong-import-position,
    wrong-import-order,
    ungrouped-imports,
    unused-argument,
    useless-object-inheritance,
    try-except-raise,
    consider-using-with,
    consider-using-f-string,
    unspecified-encoding,
