sudo: false
language: python
matrix:
  include:
    - python: 3.8
      env: TOXENV=lint
      dist: xenial
      sudo: true
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
      dist: xenial
      sudo: true
    - python: pypy3
      env: TOXENV=pypy3
      dist: xenial
    - python: 3.8
      env: TOXENV=py38
      dist: xenial
      sudo: true
    - python: 3.8
      env: TOXENV=docs-lint
      dist: xenial
      sudo: true
install: pip install tox
# TODO: https://github.com/tox-dev/tox/issues/149
script: tox --recreate
cache:
  directories:
    - .tox
    - $HOME/.cache/pip
