include .gitignore
include LICENSE
include NOTICE
include README.rst
include THANKS
include gunicorn/options.ini
recursive-include tests *
recursive-include examples *
recursive-include doc *
recursive-include debian *
recursive-include examples/pylonstest *
