include .gitignore
include LICENSE
include NOTICE
include README.rst
include THANKS
include requirements_dev.txt
include requirements_test.txt
recursive-include tests *
recursive-include examples *
recursive-include docs *
recursive-include examples/frameworks *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
