include .gitignore
include LICENSE
include NOTICE
include README.rst
include THANKS
recursive-include tests *
recursive-include examples *
recursive-include doc *
recursive-include examples/frameworks *
