<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>gunicorn django example app</title>
        <!--[if IE]>

        <script>
            // allow IE to recognize HTMl5 elements
            document.createElement('section');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('footer');
            document.createElement('header');
            document.createElement('nav');
            document.createElement('time');

        </script>
        <![endif]-->

    </head>
    <body>
        <header id="top">
            <h1>test app</h1>
        </header>

        {% block content %}{% endblock %}



	<footer></footer>
    </body>
</html>
