/* line 17, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../../css/index.sass */
#container.landing {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 17, ../../css/index.sass */
#container.landing #menu, #container.landing #header, #container.landing div.blurb, #container.landing #tutorial, #container.landing #actions, #container.landing #footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 19, ../../css/index.sass */
#container.landing #menu, #container.landing #header, #container.landing #footer {
  width: 940px;
}
/* line 22, ../../css/index.sass */
#container.landing div.blurb {
  width: 300px;
}
/* line 24, ../../css/index.sass */
#container.landing #tutorial {
  width: 620px;
}

/* line 4, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* line 6, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
a:focus {
  outline: 1px dotted invert;
}

/* line 8, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 14, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h1 {
  font-size: 25px;
}

/* line 16, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h2 {
  font-size: 23px;
}

/* line 18, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h3 {
  font-size: 21px;
}

/* line 20, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h4 {
  font-size: 19px;
}

/* line 22, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h5 {
  font-size: 17px;
}

/* line 24, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
h6 {
  font-size: 15px;
}

/* line 26, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
ol {
  list-style: decimal;
}

/* line 28, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
ul {
  list-style: square;
}

/* line 30, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
li {
  margin-left: 30px;
}

/* line 32, /var/lib/gems/1.8/gems/compass-960-plugin-0.10.4/stylesheets/960/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

/* line 29, ../../css/index.sass */
a, a:visited, a:hover, a:active {
  color: #569633;
  text-decoration: none;
}

/* line 33, ../../css/index.sass */
#header {
  margin: 46px 0px;
}

/* line 36, ../../css/index.sass */
#menu {
  margin-bottom: 23px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #959595;
  text-align: right;
}
/* line 41, ../../css/index.sass */
#menu div.logo {
  float: left;
  margin-left: 10px;
  padding-top: 3px;
}
/* line 45, ../../css/index.sass */
#menu ul {
  display: inline;
  margin-right: 10px;
  list-style: none;
}
/* line 11, /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
#menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 49, ../../css/index.sass */
#menu ul li {
  display: inline;
  padding: 0px 3px;
}
/* line 52, ../../css/index.sass */
#menu ul li a {
  font-size: 17px;
  color: white;
}

/* line 56, ../../css/index.sass */
#footer {
  border-top: 1px solid #959595;
  padding: 10px 0px;
  text-align: center;
  color: #959595;
}
/* line 61, ../../css/index.sass */
#footer p {
  margin-bottom: 5px;
}

/* line 64, ../../css/index.sass */
pre, tt, code {
  font-family: "Andale Mono", "Lucida Console", monospace;
  font-size: 12px;
}

/* line 68, ../../css/index.sass */
pre {
  white-space: pre;
  background-color: black;
  color: lime;
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
}
