name: tox
on: [push, pull_request]
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  tox:
    strategy:
      fail-fast: false
      matrix:  # All OSes pass except Windows because tests need Unix-only fcntl, grp, pwd, etc.
        os: [ubuntu-latest]  # [macos-latest, ubuntu-latest, windows-latest]
        python: ['3.10']  # ['3.6', '3.7', '3.8', '3.9', '3.10', 'pypy-3.7']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - run: pip install --upgrade pip
      - run: pip install tox
      - run: pip install -e .
      - run: tox -e py
